.appBar {
  width: 100px;
  background-image: linear-gradient(
    90deg,
    hsl(210deg 27% 26%) 12%,
    hsl(203deg 29% 33%) 64%,
    hsl(196deg 30% 40%) 81%,
    hsl(190deg 29% 47%) 91%,
    hsl(196deg 30% 40%) 97%,
    hsl(203deg 29% 33%) 101%,
    hsl(210deg 27% 26%) 101%
  );
  height: 90px;
  display: flex;
  justify-content: center;
}
.toolBarArea {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
.toolBarBox {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.toolBarIconButton {
  border: 2px solid #fff !important;
  margin: 0px 15px !important;
}
.toolBarIcon {
  font-size: 36px !important;
  color: #fff;
}
.toolBarLogo {
  width: 160px;
  margin-right: 20px;
}
.logoImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/*  */
.drawerMainBlock {
  overflow: hidden;
  background: #1b878f;
  border-radius: 0px 50px 50px 0px;
  height: 100vh;
}
.drawerGrid {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.drawerGridBlock {
  display: flex;
  flex-direction: column;
  margin: 26px auto;
  align-items: center;
  justify-content: center;
}
.drawerIconBlock {
  border: 2px solid #fff;
  border-radius: 90px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 0px;
  cursor: pointer;
}
.drawerIconBlock.drawerIconEndBlock {
  border: 2px solid #fff;
  border-radius: 90px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  cursor: pointer;
}
.drawerIcon {
  font-size: 26px;
  color: #fff;
}
.drawerIcon .endIcon {
  font-size: 26px;
  color: #fff;
}
/* Loader */
.sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1b878f;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
