.paginationBlock {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.inActiveBtn {
  border-radius: 20px !important;
  width: 100px;
  text-transform: capitalize !important;
  padding: 5px;
  opacity: 0.9;
}
.activeBtn {
  border-radius: 20px !important;
  width: 100px;
  text-transform: capitalize !important;
  padding: 5px;
  opacity: 0.9;
}
.containerBox {
  margin: 0px 120px;
}
.containerHeading {
  display: flex;
  justify-content: space-between;
}
.headingText {
  text-transform: uppercase;
  font-weight: 600;
  color: #1b878f;
}
.tableContainer {
  margin-top: 10px;
}
